.profile__overlay {
  position: absolute;
  width: 120px;
  height: 120px;
  display: flex; 
  justify-content: center;
  align-items: center;
  opacity: 0; 
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -ms-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  background: url("../../../images/updateAvatar.svg") no-repeat center;
  margin: 0 29px 0 0;
}