.popup__input {
  width: 100%;
  height: 47px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  font-size: 14px;
  line-height: 18px;
  box-sizing: border-box;
  padding: 10px 0 0;
  margin-bottom: 10px;
}

.popup__input:last-of-type {
  margin-bottom: 0;
}

@media screen and (max-width: 568px) {
  .popup__title {
    font-size: 12px;
    line-height: 15px;
  }
}

<<<<<<< HEAD
<<<<<<< HEAD
.popup__input:invalid {
  border-bottom: 1px solid rgb(255, 0, 0);
}


.popup__input_type_error {
  border-bottom-color: red;
}

.popup__input-error_active {
  color: red;
=======
=======
>>>>>>> 60ec5775f48464c4cd63f87ab89af3c5ce56c2d8
.popup__input_type_error {
  border-bottom: red solid 1px;
}

.form__input-error {
  display: none;
}

.popup__input-error_active {
<<<<<<< HEAD
<<<<<<< HEAD
  color: blueviolet;
>>>>>>> 98dc585 (2321020725)
=======
  color: green;
>>>>>>> d9e4fc3 (002903072025)
=======
  color: green;
>>>>>>> 60ec5775f48464c4cd63f87ab89af3c5ce56c2d8
}